In [544]:
import pandas as pd
import re
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import sidetable

In [545]:
pd.options.display.max_columns = None
# pd.options.display.max_rows = None

Cargamos el archivo limpio

In [546]:
# Abrir con index_col = 0
df = pd.read_csv("../data/6.dataframe_analisis.csv", index_col = 0)

# Se hace esto para resetear los índices
df.reset_index(drop=True , inplace=True)
df.head(2)

,q1_edad,q2_genero,q3_país,q4_educacion,q5_ocupacion,q6_exp_tech,q8_l_recomendado,q11_tipo_plataforma,q20_i_actual,q21_tamanio_cia,q22_da_cia,q25_salario,q26_ppto_ml_cc,q33_bigdata_product,q35_h_i_negocios,q41_h_process_data,q7_l_utilizados,q9_adi,q14_h_viz,q10_part_1,q10_part_2,q10_part_3,q10_part_4,q10_part_5,q10_part_6,q10_part_7,q10_part_8,q10_part_9,q10_part_10,q10_part_11,q10_part_12,q10_part_13,q10_part_14,q10_part_15,q10_part_16,q10_other,q18_part_1,q18_part_2,q18_part_3,q18_part_4,q18_part_5,q18_part_6,q18_other,q27_a_part_1,q27_a_part_2,q27_a_part_3,q27_a_part_4,q27_a_part_5,q27_a_part_6,q27_a_part_7,q27_a_part_8,q27_a_part_9,q27_a_part_10,q27_a_part_11,q27_a_other,q39_part_1,q39_part_2,q39_part_3,q39_part_4,q39_part_5,q39_part_6,q39_part_7,q39_part_8,q39_part_9,q39_other,q40_part_1,q40_part_2,q40_part_3,q40_part_4,q40_part_5,q40_part_6,q40_part_7,q40_part_8,q40_part_9,q40_part_10,q40_part_11,q40_other,q42_part_1,q42_part_2,q42_part_3,q42_part_4,q42_part_5,q42_part_6,q42_part_7,q42_part_8,q42_part_9,q42_part_10,q42_part_11,q42_other
0,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,Manufacturing/Fabrication,50-249 employees,3-4,"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...",NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
1,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Manufacturing/Fabrication,"1000-9,999 employees",1-2,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Matplotlib,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN

df.columns

# Valores duplicados

In [547]:
df.duplicated().sum()

8

# Eliminar los duplicados

In [548]:
df.drop_duplicates(inplace= True)

In [549]:
df.duplicated().sum()

0

# Cambios en tipos de columnas (astype)

In [550]:
# df.select_dtypes(include=np.number)
# No tenemos variables numéricas

In [551]:
df.select_dtypes(include="object").columns

Index(['q1_edad', 'q2_genero', 'q3_país', 'q4_educacion', 'q5_ocupacion',
       'q6_exp_tech', 'q8_l_recomendado', 'q11_tipo_plataforma',
       'q20_i_actual', 'q21_tamanio_cia', 'q22_da_cia', 'q25_salario',
       'q26_ppto_ml_cc', 'q33_bigdata_product', 'q35_h_i_negocios',
       'q41_h_process_data', 'q7_l_utilizados', 'q9_adi', 'q14_h_viz',
       'q10_part_1', 'q10_part_2', 'q10_part_3', 'q10_part_4', 'q10_part_5',
       'q10_part_6', 'q10_part_7', 'q10_part_8', 'q10_part_9', 'q10_part_10',
       'q10_part_11', 'q10_part_12', 'q10_part_13', 'q10_part_14',
       'q10_part_15', 'q10_part_16', 'q10_other', 'q18_part_1', 'q18_part_2',
       'q18_part_3', 'q18_part_4', 'q18_part_5', 'q18_part_6', 'q18_other',
       'q27_a_part_1', 'q27_a_part_2', 'q27_a_part_3', 'q27_a_part_4',
       'q27_a_part_5', 'q27_a_part_6', 'q27_a_part_7', 'q27_a_part_8',
       'q27_a_part_9', 'q27_a_part_10', 'q27_a_part_11', 'q27_a_other',
       'q39_part_1', 'q39_part_2', 'q39_part_3', 'q39_part_4', 'q39_part_5',
       'q39_part_6', 'q39_part_7', 'q39_part_8', 'q39_part_9', 'q39_other',
       'q40_part_1', 'q40_part_2', 'q40_part_3', 'q40_part_4', 'q40_part_5',
       'q40_part_6', 'q40_part_7', 'q40_part_8', 'q40_part_9', 'q40_part_10',
       'q40_part_11', 'q40_other', 'q42_part_1', 'q42_part_2', 'q42_part_3',
       'q42_part_4', 'q42_part_5', 'q42_part_6', 'q42_part_7', 'q42_part_8',
       'q42_part_9', 'q42_part_10', 'q42_part_11', 'q42_other'],
      dtype='object')

In [552]:
df.shape

(25965, 89)

# Ordenar columnas. `Pendiente`

In [553]:
df.head(2)

,q1_edad,q2_genero,q3_país,q4_educacion,q5_ocupacion,q6_exp_tech,q8_l_recomendado,q11_tipo_plataforma,q20_i_actual,q21_tamanio_cia,q22_da_cia,q25_salario,q26_ppto_ml_cc,q33_bigdata_product,q35_h_i_negocios,q41_h_process_data,q7_l_utilizados,q9_adi,q14_h_viz,q10_part_1,q10_part_2,q10_part_3,q10_part_4,q10_part_5,q10_part_6,q10_part_7,q10_part_8,q10_part_9,q10_part_10,q10_part_11,q10_part_12,q10_part_13,q10_part_14,q10_part_15,q10_part_16,q10_other,q18_part_1,q18_part_2,q18_part_3,q18_part_4,q18_part_5,q18_part_6,q18_other,q27_a_part_1,q27_a_part_2,q27_a_part_3,q27_a_part_4,q27_a_part_5,q27_a_part_6,q27_a_part_7,q27_a_part_8,q27_a_part_9,q27_a_part_10,q27_a_part_11,q27_a_other,q39_part_1,q39_part_2,q39_part_3,q39_part_4,q39_part_5,q39_part_6,q39_part_7,q39_part_8,q39_part_9,q39_other,q40_part_1,q40_part_2,q40_part_3,q40_part_4,q40_part_5,q40_part_6,q40_part_7,q40_part_8,q40_part_9,q40_part_10,q40_part_11,q40_other,q42_part_1,q42_part_2,q42_part_3,q42_part_4,q42_part_5,q42_part_6,q42_part_7,q42_part_8,q42_part_9,q42_part_10,q42_part_11,q42_other
0,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,Manufacturing/Fabrication,50-249 employees,3-4,"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...",NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
1,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Manufacturing/Fabrication,"1000-9,999 employees",1-2,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Matplotlib,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN

# Tratamiento de los outliers

No existen outliers

In [554]:
df_numericas = df.select_dtypes(include=np.number)

# Tratamiento de nulos

In [555]:
df.stb.missing()

               missing  total    percent
q18_other        25846  25965  99.541691
q39_part_3       25829  25965  99.476218
q10_part_15      25818  25965  99.433853
q27_a_part_10    25793  25965  99.337570
q10_part_6       25790  25965  99.326016
...                ...    ...        ...
q5_ocupacion         0  25965   0.000000
q2_genero            0  25965   0.000000
q4_educacion         0  25965   0.000000
q3_país              0  25965   0.000000
q1_edad              0  25965   0.000000

[89 rows x 3 columns]

De la q1 a q6 no existen valores nulos

In [556]:
lista_q_18 = ['q18_part_1', 'q18_part_2', 'q18_part_3', 'q18_part_4', 'q18_part_5',
       'q18_part_6', 'q18_other']

In [557]:
df_q18 = df[lista_q_18]
df_q18.head(10)

,q18_part_1,q18_part_2,q18_part_3,q18_part_4,q18_part_5,q18_part_6,q18_other
0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"General purpose image/video tools (PIL, cv2, s...","Image segmentation methods (U-Net, Mask R-CNN,...","Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,"Image segmentation methods (U-Net, Mask R-CNN,...","Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,"Generative Networks (GAN, VAE, etc)",NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [558]:
df_q18.shape

(25965, 7)

In [559]:
# df_18_sin_nulos = df_q18.dropna(how=all )

In [560]:
df_q18.stb.missing()

            missing  total    percent
q18_other     25846  25965  99.541691
q18_part_6    24526  25965  94.457924
q18_part_5    24473  25965  94.253803
q18_part_1    23303  25965  89.747737
q18_part_3    23249  25965  89.539765
q18_part_2    23225  25965  89.447333
q18_part_4    21592  25965  83.158097

In [561]:
df["q5_ocupacion"].value_counts()

Student                         6798
Data Scientist                  3616
Software Engineer               2449
Other                           2392
Data Analyst                    2301
Currently not employed          1986
Research Scientist              1538
Machine Learning Engineer       1498
Business Analyst                 968
Program/Project Manager          849
Data Engineer                    668
Product Manager                  319
Statistician                     313
DBA/Database Engineer            171
Developer Relations/Advocacy      99
Name: q5_ocupacion, dtype: int64

DF para responder a preguntas 3, sobre herramientas

In [562]:
df_analistas = df[df["q5_ocupacion"]== "Data Analyst"]

In [563]:
df_analistas.stb.missing()

              missing  total    percent
q18_other        2291   2301  99.565406
q10_part_4       2287   2301  99.391569
q10_part_6       2286   2301  99.348110
q10_part_13      2281   2301  99.130813
q10_part_14      2280   2301  99.087353
...               ...    ...        ...
q6_exp_tech         0   2301   0.000000
q5_ocupacion        0   2301   0.000000
q4_educacion        0   2301   0.000000
q3_país             0   2301   0.000000
q1_edad             0   2301   0.000000

[89 rows x 3 columns]

In [564]:
df_analistas.shape

(2301, 89)

In [565]:
lista_eliminar = ['q18_part_1', 'q18_part_2', 'q18_part_3', 'q18_part_4', 'q18_part_5',
       'q18_part_6', 'q18_other',
       
       'q10_part_1', 'q10_part_2', 'q10_part_3', 'q10_part_4', 'q10_part_5',
       'q10_part_6', 'q10_part_7', 'q10_part_8', 'q10_part_9', 'q10_part_10',
       'q10_part_11', 'q10_part_12', 'q10_part_13', 'q10_part_14',
       'q10_part_15', 'q10_part_16', 'q10_other', 
       
       'q39_part_1', 'q39_part_2', 'q39_part_3', 'q39_part_4', 'q39_part_5',
       'q39_part_6', 'q39_part_7', 'q39_part_8', 'q39_part_9', 'q39_other', 
       
       'q27_a_part_1', 'q27_a_part_2', 'q27_a_part_3', 'q27_a_part_4',
       'q27_a_part_5', 'q27_a_part_6', 'q27_a_part_7', 'q27_a_part_8',
       'q27_a_part_9', 'q27_a_part_10', 'q27_a_part_11', 'q27_a_other',


       'q40_part_1', 'q40_part_2', 'q40_part_3', 'q40_part_4', 'q40_part_5',
       'q40_part_6', 'q40_part_7', 'q40_part_8', 'q40_part_9', 'q40_part_10',
       'q40_part_11', 'q40_other']

In [566]:
df_analistas = df_analistas.drop(['q18_part_1', 'q18_part_2', 'q18_part_3', 'q18_part_4', 'q18_part_5',
       'q18_part_6', 'q18_other',
       
       'q10_part_1', 'q10_part_2', 'q10_part_3', 'q10_part_4', 'q10_part_5',
       'q10_part_6', 'q10_part_7', 'q10_part_8', 'q10_part_9', 'q10_part_10',
       'q10_part_11', 'q10_part_12', 'q10_part_13', 'q10_part_14',
       'q10_part_15', 'q10_part_16', 'q10_other', 
       
       'q39_part_1', 'q39_part_2', 'q39_part_3', 'q39_part_4', 'q39_part_5',
       'q39_part_6', 'q39_part_7', 'q39_part_8', 'q39_part_9', 'q39_other', 
       
       'q27_a_part_1', 'q27_a_part_2', 'q27_a_part_3', 'q27_a_part_4',
       'q27_a_part_5', 'q27_a_part_6', 'q27_a_part_7', 'q27_a_part_8',
       'q27_a_part_9', 'q27_a_part_10', 'q27_a_part_11', 'q27_a_other',


       'q40_part_1', 'q40_part_2', 'q40_part_3', 'q40_part_4', 'q40_part_5',
       'q40_part_6', 'q40_part_7', 'q40_part_8', 'q40_part_9', 'q40_part_10',
       'q40_part_11', 'q40_other'], axis=1)

In [567]:
df_analistas.shape

(2301, 31)

Limpiar la columna 'Q25_salario'

In [568]:
df_analistas['q25_salario'].unique()

array(['2,000-2,999', nan, '7,500-9,999', '$0-999', '25,000-29,999',
       '1,000-1,999', '100,000-124,999', '5,000-7,499', '10,000-14,999',
       '15,000-19,999', '60,000-69,999', '125,000-149,999',
       '20,000-24,999', '3,000-3,999', '4,000-4,999', '30,000-39,999',
       '40,000-49,999', '200,000-249,999', '80,000-89,999',
       '50,000-59,999', '70,000-79,999', '90,000-99,999',
       '150,000-199,999', '300,000-499,999', '250,000-299,999',
       '>$1,000,000', '$500,000-999,999'], dtype=object)

In [569]:
#df_analistas['q25_salario_limpia']= df_analistas['q25_salario'].apply(lambda x: x.replace("$",""))
df_analistas['q25_salario_limpia']= df_analistas['q25_salario'].replace({',':''}, regex=True)
#Si añado lo hago así, no me reemplaza el símbolo del dolar :  df_analistas['q25_salario_limpia']= df_analistas['q25_salario'].replace({',':''}, regex=True).replace({'$':''}, regex=True)

In [570]:
df_analistas['q25_salario_limpia'].unique()

array(['2000-2999', nan, '7500-9999', '$0-999', '25000-29999',
       '1000-1999', '100000-124999', '5000-7499', '10000-14999',
       '15000-19999', '60000-69999', '125000-149999', '20000-24999',
       '3000-3999', '4000-4999', '30000-39999', '40000-49999',
       '200000-249999', '80000-89999', '50000-59999', '70000-79999',
       '90000-99999', '150000-199999', '300000-499999', '250000-299999',
       '>$1000000', '$500000-999999'], dtype=object)

In [571]:
def limpia_salario(salario):
    patron = "(\d+|\d+)"
    try:
        return re.findall(patron, str(salario))
    except: 
        np.nan

In [572]:
df_analistas['q25_salario_limpia'] = (df_analistas['q25_salario_limpia'].apply(limpia_salario))

In [575]:
df_analistas['q25_salario_limpia'].head()

16      [2000, 2999]
32                []
33      [7500, 9999]
46          [0, 999]
52    [25000, 29999]
Name: q25_salario_limpia, dtype: object

In [583]:
#Mirar de hace un contador, que la media de los valores de la lista se almacenen en otra columna
for val in df_analistas['q25_salario_limpia']:
    try:
        print((int(val[0])+int(val[1]))/2)
    except:
        pass #o np.nan?

2499.5
8749.5
499.5
27499.5
499.5
1499.5
112499.5
1499.5
499.5
112499.5
6249.5
12499.5
499.5
2499.5
6249.5
499.5
499.5
499.5
12499.5
8749.5
17499.5
1499.5
12499.5
64999.5
6249.5
27499.5
6249.5
1499.5
137499.5
137499.5
22499.5
1499.5
3499.5
499.5
27499.5
4499.5
17499.5
499.5
499.5
64999.5
499.5
17499.5
499.5
112499.5
22499.5
499.5
2499.5
12499.5
34999.5
27499.5
499.5
34999.5
499.5
8749.5
22499.5
499.5
17499.5
499.5
499.5
499.5
44999.5
17499.5
499.5
12499.5
224999.5
499.5
84999.5
1499.5
499.5
4499.5
3499.5
499.5
17499.5
17499.5
84999.5
499.5
54999.5
499.5
6249.5
12499.5
499.5
3499.5
499.5
6249.5
4499.5
74999.5
6249.5
8749.5
6249.5
1499.5
499.5
2499.5
64999.5
1499.5
499.5
112499.5
499.5
64999.5
12499.5
12499.5
3499.5
34999.5
499.5
1499.5
499.5
499.5
64999.5
499.5
17499.5
84999.5
6249.5
499.5
94999.5
112499.5
499.5
112499.5
44999.5
2499.5
12499.5
54999.5
4499.5
1499.5
2499.5
64999.5
3499.5
499.5
8749.5
499.5
6249.5
34999.5
34999.5
34999.5
2499.5
8749.5
6249.5
12499.5
64999.5
499.5
34999.5
6249.5
84999.5
12499.5
499.5
27499.5
64999.5
6249.5
499.5
12499.5
12499.5
4499.5
17499.5
8749.5
44999.5
499.5
1499.5
3499.5
112499.5
2499.5
1499.5
2499.5
54999.5
1499.5
17499.5
12499.5
499.5
6249.5
22499.5
6249.5
112499.5
3499.5
3499.5
8749.5
17499.5
64999.5
499.5
499.5
3499.5
74999.5
499.5
112499.5
54999.5
1499.5
54999.5
499.5
499.5
1499.5
499.5
17499.5
1499.5
499.5
112499.5
1499.5
74999.5
499.5
17499.5
6249.5
499.5
84999.5
499.5
34999.5
2499.5
1499.5
1499.5
499.5
499.5
74999.5
499.5
8749.5
3499.5
22499.5
74999.5
44999.5
54999.5
1499.5
4499.5
27499.5
499.5
499.5
499.5
2499.5
22499.5
499.5
17499.5
22499.5
17499.5
499.5
34999.5
1499.5
499.5
74999.5
499.5
4499.5
499.5
1499.5
499.5
6249.5
22499.5
8749.5
137499.5
34999.5
1499.5
64999.5
499.5
499.5
12499.5
17499.5
499.5
27499.5
499.5
499.5
499.5
12499.5
499.5
499.5
1499.5
3499.5
44999.5
6249.5
17499.5
499.5
1499.5
64999.5
74999.5
12499.5
499.5
64999.5
6249.5
44999.5
64999.5
499.5
499.5
499.5
112499.5
499.5
499.5
44999.5
54999.5
499.5
22499.5
54999.5
44999.5
499.5
499.5
499.5
3499.5
4499.5
17499.5
2499.5
84999.5
44999.5
27499.5
499.5
94999.5
1499.5
499.5
44999.5
12499.5
499.5
2499.5
499.5
499.5
34999.5
499.5
499.5
3499.5
499.5
3499.5
1499.5
94999.5
499.5
74999.5
499.5
12499.5
6249.5
1499.5
499.5
64999.5
1499.5
499.5
3499.5
3499.5
2499.5
2499.5
499.5
12499.5
27499.5
27499.5
17499.5
499.5
499.5
4499.5
34999.5
137499.5
27499.5
34999.5
8749.5
499.5
44999.5
499.5
499.5
54999.5
499.5
3499.5
74999.5
44999.5
8749.5
17499.5
22499.5
3499.5
499.5
22499.5
27499.5
112499.5
499.5
27499.5
499.5
8749.5
12499.5
499.5
1499.5
499.5
64999.5
3499.5
1499.5
1499.5
499.5
1499.5
74999.5
6249.5
1499.5
44999.5
499.5
44999.5
1499.5
499.5
22499.5
74999.5
499.5
499.5
64999.5
84999.5
6249.5
64999.5
12499.5
499.5
74999.5
112499.5
499.5
137499.5
34999.5
499.5
27499.5
499.5
499.5
17499.5
12499.5
8749.5
44999.5
64999.5
2499.5
2499.5
1499.5
4499.5
54999.5
499.5
6249.5
17499.5
112499.5
44999.5
499.5
12499.5
3499.5
12499.5
54999.5
499.5
84999.5
499.5
12499.5
499.5
174999.5
74999.5
499.5
1499.5
499.5
44999.5
3499.5
6249.5
34999.5
4499.5
1499.5
1499.5
3499.5
8749.5
12499.5
1499.5
12499.5
74999.5
44999.5
12499.5
34999.5
64999.5
112499.5
27499.5
499.5
2499.5
499.5
499.5
17499.5
499.5
499.5
1499.5
8749.5
54999.5
2499.5
499.5
22499.5
499.5
4499.5
22499.5
6249.5
2499.5
499.5
84999.5
1499.5
54999.5
499.5
112499.5
12499.5
2499.5
12499.5
1499.5
54999.5
74999.5
4499.5
4499.5
112499.5
499.5
44999.5
499.5
6249.5
499.5
44999.5
64999.5
499.5
3499.5
499.5
499.5
8749.5
499.5
12499.5
499.5
44999.5
137499.5
44999.5
34999.5
112499.5
3499.5
12499.5
6249.5
499.5
74999.5
499.5
12499.5
499.5
1499.5
8749.5
1499.5
54999.5
499.5
22499.5
6249.5
4499.5
112499.5
499.5
74999.5
84999.5
499.5
1499.5
34999.5
2499.5
499.5
27499.5
1499.5
112499.5
6249.5
1499.5
22499.5
44999.5
12499.5
34999.5
112499.5
174999.5
27499.5
499.5
3499.5
2499.5
1499.5
1499.5
499.5
22499.5
12499.5
22499.5
112499.5
8749.5
1499.5
44999.5
12499.5
44999.5
499.5
6249.5
22499.5
54999.5
6249.5
8749.5
34999.5
6249.5
499.5
499.5
27499.5
22499.5
499.5
8749.5
1499.5
74999.5
2499.5
499.5
499.5
4499.5
2499.5
499.5
112499.5
12499.5
1499.5
499.5
8749.5
8749.5
3499.5
22499.5
1499.5
1499.5
12499.5
44999.5
22499.5
499.5
34999.5
12499.5
499.5
499.5
34999.5
6249.5
12499.5
1499.5
74999.5
174999.5
3499.5
84999.5
1499.5
499.5
6249.5
74999.5
54999.5
112499.5
12499.5
8749.5
44999.5
499.5
6249.5
8749.5
1499.5
44999.5
44999.5
17499.5
499.5
54999.5
2499.5
2499.5
499.5
499.5
112499.5
1499.5
74999.5
1499.5
44999.5
112499.5
74999.5
94999.5
6249.5
22499.5
3499.5
499.5
499.5
499.5
499.5
499.5
17499.5
84999.5
44999.5
499.5
84999.5
12499.5
2499.5
499.5
84999.5
17499.5
22499.5
2499.5
6249.5
2499.5
499.5
499.5
64999.5
1499.5
499.5
1499.5
1499.5
27499.5
1499.5
499.5
2499.5
499.5
4499.5
1499.5
499.5
3499.5
6249.5
54999.5
54999.5
1499.5
499.5
499.5
499.5
499.5
74999.5
6249.5
1499.5
1499.5
6249.5
54999.5
4499.5
64999.5
499.5
12499.5
8749.5
27499.5
22499.5
174999.5
499.5
64999.5
64999.5
6249.5
499.5
499.5
499.5
499.5
12499.5
74999.5
1499.5
3499.5
2499.5
8749.5
3499.5
137499.5
3499.5
34999.5
499.5
1499.5
8749.5
4499.5
499.5
499.5
4499.5
2499.5
499.5
499.5
499.5
1499.5
8749.5
84999.5
34999.5
17499.5
1499.5
499.5
6249.5
22499.5
44999.5
22499.5
8749.5
1499.5
17499.5
54999.5
1499.5
2499.5
499.5
12499.5
499.5
112499.5
499.5
8749.5
499.5
4499.5
499.5
74999.5
12499.5
499.5
3499.5
2499.5
499.5
499.5
64999.5
44999.5
64999.5
499.5
499.5
1499.5
17499.5
499.5
499.5
12499.5
8749.5
8749.5
12499.5
12499.5
499.5
1499.5
1499.5
44999.5
6249.5
499.5
112499.5
22499.5
499.5
34999.5
94999.5
34999.5
8749.5
54999.5
399999.5
499.5
4499.5
54999.5
3499.5
34999.5
54999.5
499.5
17499.5
3499.5
1499.5
499.5
17499.5
499.5
12499.5
64999.5
27499.5
94999.5
499.5
54999.5
499.5
34999.5
112499.5
3499.5
12499.5
499.5
84999.5
34999.5
2499.5
499.5
1499.5
64999.5
499.5
6249.5
22499.5
499.5
2499.5
64999.5
1499.5
64999.5
499.5
499.5
499.5
54999.5
12499.5
499.5
22499.5
499.5
64999.5
499.5
84999.5
499.5
64999.5
1499.5
3499.5
499.5
499.5
12499.5
4499.5
1499.5
44999.5
499.5
4499.5
84999.5
499.5
27499.5
74999.5
499.5
499.5
499.5
1499.5
54999.5
74999.5
499.5
44999.5
1499.5
17499.5
6249.5
399999.5
499.5
499.5
3499.5
1499.5
34999.5
499.5
84999.5
27499.5
34999.5
499.5
3499.5
34999.5
12499.5
27499.5
6249.5
64999.5
1499.5
94999.5
112499.5
499.5
17499.5
112499.5
1499.5
2499.5
1499.5
224999.5
8749.5
1499.5
12499.5
1499.5
22499.5
8749.5
17499.5
17499.5
3499.5
84999.5
1499.5
12499.5
1499.5
499.5
499.5
17499.5
499.5
44999.5
64999.5
2499.5
174999.5
4499.5
499.5
2499.5
499.5
499.5
17499.5
499.5
499.5
64999.5
8749.5
1499.5
499.5
499.5
94999.5
44999.5
12499.5
1499.5
6249.5
12499.5
499.5
64999.5
44999.5
17499.5
54999.5
8749.5
74999.5
12499.5
499.5
499.5
137499.5
499.5
1499.5
4499.5
54999.5
54999.5
8749.5
12499.5
34999.5
2499.5
112499.5
74999.5
54999.5
499.5
8749.5
4499.5
1499.5
84999.5
22499.5
499.5
4499.5
27499.5
1499.5
34999.5
4499.5
8749.5
22499.5
84999.5
12499.5
54999.5
499.5
1499.5
499.5
1499.5
499.5
12499.5
94999.5
34999.5
17499.5
399999.5
8749.5
2499.5
499.5
64999.5
8749.5
499.5
22499.5
1499.5
74999.5
499.5
44999.5
6249.5
54999.5
44999.5
34999.5
2499.5
499.5
3499.5
34999.5
84999.5
12499.5
22499.5
27499.5
4499.5
499.5
1499.5
54999.5
6249.5
44999.5
499.5
74999.5
12499.5
499.5
74999.5
3499.5
4499.5
499.5
17499.5
8749.5
22499.5
12499.5
499.5
499.5
27499.5
499.5
499.5
27499.5
74999.5
34999.5
4499.5
6249.5
54999.5
499.5
1499.5
44999.5
274999.5
12499.5
499.5
112499.5
54999.5
4499.5
17499.5
4499.5
4499.5
64999.5
54999.5
94999.5
54999.5
6249.5
12499.5
64999.5
499.5
94999.5
74999.5
499.5
6249.5
64999.5
1499.5
74999.5
499.5
499.5
6249.5
499.5
74999.5
499.5
499.5
1499.5
34999.5
34999.5
499.5
34999.5
22499.5
34999.5
1499.5
8749.5
27499.5
112499.5
17499.5
94999.5
27499.5
84999.5
499.5
499.5
499.5
1499.5
54999.5
499.5
22499.5
27499.5
499.5
499.5
22499.5
6249.5
499.5
34999.5
112499.5
1499.5
499.5
499.5
499.5
4499.5
17499.5
499.5
3499.5
54999.5
22499.5
4499.5
3499.5
499.5
499.5
6249.5
74999.5
8749.5
499.5
94999.5
94999.5
44999.5
34999.5
2499.5
4499.5
22499.5
22499.5
12499.5
3499.5
499.5
499.5
3499.5
499.5
2499.5
499.5
6249.5
12499.5
54999.5
1499.5
1499.5
34999.5
499.5
112499.5
499.5
499.5
6249.5
17499.5
6249.5
22499.5
499.5
8749.5
499.5
1499.5
499.5
8749.5
3499.5
499.5
74999.5
499.5
224999.5
499.5
34999.5
12499.5
6249.5
12499.5
499.5
6249.5
1499.5
1499.5
44999.5
8749.5
499.5
1499.5
6249.5
54999.5
1499.5
1499.5
64999.5
6249.5
2499.5
499.5
74999.5
54999.5
1499.5
84999.5
499.5
112499.5
74999.5
112499.5
499.5
112499.5
8749.5
1499.5
499.5
27499.5
499.5
74999.5
499.5
6249.5
17499.5
112499.5
499.5
34999.5
64999.5
4499.5
34999.5
22499.5
1499.5
3499.5
12499.5
6249.5
499.5
499.5
1499.5
6249.5
499.5
74999.5
54999.5
4499.5
499.5
94999.5
1499.5
499.5
12499.5
3499.5
2499.5
22499.5
34999.5
6249.5
499.5
499.5
74999.5
64999.5
1499.5
499.5
84999.5
6249.5
6249.5
499.5
22499.5
27499.5
54999.5
17499.5
22499.5
4499.5
8749.5
17499.5
74999.5
1499.5
499.5
12499.5
17499.5
499.5
4499.5
8749.5
112499.5
6249.5
44999.5
74999.5
499.5
64999.5
499.5
12499.5
1499.5
6249.5
499.5
54999.5
499.5
64999.5
499.5
27499.5
499.5
34999.5
499.5
12499.5
12499.5
499.5
6249.5
22499.5
112499.5
54999.5
499.5
499.5
8749.5
8749.5
64999.5
54999.5
34999.5
137499.5
12499.5
27499.5
74999.5
1499.5
112499.5
64999.5
22499.5
6249.5
22499.5
6249.5
8749.5
22499.5
174999.5
499.5
64999.5
8749.5
17499.5
74999.5
54999.5
12499.5
54999.5
12499.5
17499.5
137499.5
2499.5
64999.5
1499.5
6249.5
17499.5
499.5
27499.5
499.5
499.5
12499.5
6249.5
34999.5
44999.5
4499.5
44999.5
499.5
12499.5
499.5
499.5
94999.5
8749.5
6249.5
499.5
499.5
1499.5
4499.5
34999.5
74999.5
3499.5
499.5
499.5
12499.5
499.5
27499.5
22499.5
12499.5
4499.5
74999.5
12499.5
64999.5
499.5
12499.5
499.5
1499.5
17499.5
499.5
22499.5
12499.5
499.5
1499.5
54999.5
74999.5
499.5
64999.5
499.5
94999.5
17499.5
27499.5
94999.5
499.5
12499.5
84999.5
499.5
74999.5
3499.5
17499.5
1499.5
22499.5
44999.5
4499.5
8749.5
64999.5
112499.5
1499.5
17499.5
44999.5
8749.5
1499.5
34999.5
27499.5
112499.5
499.5
6249.5
6249.5
2499.5
1499.5
12499.5
44999.5
27499.5
84999.5
499.5
499.5
44999.5
12499.5
499.5
44999.5
64999.5
499.5
8749.5
8749.5
499.5
12499.5
499.5
499.5
499.5
6249.5
499.5
34999.5
499.5
499.5
74999.5
6249.5
64999.5
1499.5
499.5
499.5
499.5
44999.5
22499.5
34999.5
499.5
6249.5
1499.5
112499.5
17499.5
27499.5
54999.5
22499.5
2499.5
34999.5
8749.5
499.5
34999.5
12499.5
499.5
64999.5
8749.5
499.5
94999.5
112499.5
64999.5
3499.5
499.5
3499.5
499.5
84999.5
112499.5
1499.5
17499.5
12499.5
112499.5
4499.5
94999.5
1499.5
44999.5
499.5
74999.5
174999.5
499.5
17499.5
499.5
74999.5
499.5
64999.5
2499.5
174999.5
1499.5
499.5
12499.5
499.5
12499.5
34999.5
499.5
3499.5
499.5
44999.5
12499.5
44999.5
499.5
12499.5
44999.5
4499.5
54999.5
224999.5
4499.5
64999.5
499.5
12499.5
4499.5
22499.5
499.5
6249.5
6249.5
499.5
499.5
499.5
499.5
54999.5
54999.5
499.5
499.5
84999.5
34999.5
274999.5
12499.5
54999.5
12499.5
44999.5
12499.5
499.5
1499.5
2499.5
499.5
499.5
54999.5
64999.5
34999.5
6249.5
1499.5
3499.5
499.5
8749.5
112499.5
84999.5
44999.5
499.5
6249.5
27499.5
12499.5
499.5
499.5
499.5
84999.5
54999.5
499.5
112499.5
2499.5
8749.5
1499.5
74999.5
2499.5
499.5
54999.5
8749.5
8749.5
499.5
44999.5
1499.5
6249.5
137499.5
54999.5
8749.5
499.5
499.5
499.5
2499.5
12499.5
2499.5
17499.5
74999.5
22499.5
12499.5
54999.5
84999.5
12499.5
2499.5
499.5
84999.5
8749.5
499.5
499.5
8749.5
3499.5
499.5
2499.5
6249.5
499.5
4499.5
2499.5
499.5
2499.5
112499.5
499.5
499.5
8749.5
499.5
27499.5
112499.5
34999.5
6249.5
64999.5
12499.5
2499.5
12499.5
1499.5
499.5
27499.5
44999.5
64999.5
499.5
17499.5
44999.5
17499.5
17499.5
44999.5
499.5
12499.5
17499.5
84999.5
3499.5
22499.5
499.5
22499.5
4499.5
54999.5
8749.5
12499.5
499.5
1499.5
84999.5
54999.5
499.5
112499.5
499.5
12499.5
74999.5
54999.5
1499.5
4499.5
499.5
2499.5
4499.5
499.5
8749.5
12499.5
17499.5
1499.5
12499.5
112499.5
499.5
74999.5
3499.5
499.5
2499.5
1499.5
6249.5
499.5
112499.5
4499.5
12499.5
12499.5
94999.5
1499.5
1499.5
34999.5
1499.5
54999.5
64999.5
499.5
3499.5
499.5
74999.5
137499.5
64999.5
34999.5
499.5
749999.5
6249.5
12499.5
1499.5
44999.5
3499.5
17499.5
3499.5
2499.5
499.5
499.5
499.5
44999.5
4499.5
64999.5
3499.5
4499.5
499.5
499.5
499.5
499.5
44999.5
22499.5
6249.5
499.5
22499.5
8749.5
499.5
34999.5
499.5
12499.5
6249.5
499.5
8749.5
112499.5
8749.5
44999.5
499.5
44999.5
94999.5
44999.5
64999.5
499.5
8749.5
499.5
12499.5
8749.5
499.5
54999.5
12499.5
94999.5
499.5
12499.5
1499.5
64999.5
17499.5
44999.5
22499.5
64999.5
499.5
6249.5
1499.5
84999.5
1499.5
499.5
499.5
74999.5
74999.5
1499.5
499.5
12499.5
22499.5
54999.5
499.5
499.5
1499.5
112499.5
64999.5
84999.5
499.5
499.5
499.5
8749.5
22499.5
6249.5
34999.5
499.5
499.5
4499.5
499.5
64999.5
499.5
74999.5
499.5
27499.5
499.5
8749.5
17499.5
22499.5
1499.5
74999.5
112499.5
27499.5
499.5
112499.5
27499.5
44999.5
1499.5
499.5
22499.5
2499.5
6249.5
499.5
64999.5
12499.5
499.5
12499.5
499.5
27499.5
1499.5
112499.5
499.5
499.5
44999.5
499.5
3499.5
34999.5
137499.5
34999.5
27499.5
6249.5
54999.5
6249.5
12499.5
1499.5
3499.5
17499.5
34999.5
8749.5
12499.5
499.5
499.5
4499.5
499.5
44999.5
2499.5
2499.5
499.5
1499.5
112499.5
1499.5
8749.5
4499.5
499.5
499.5
3499.5
64999.5
499.5
8749.5
1499.5
22499.5
12499.5
174999.5
44999.5
22499.5
6249.5
1499.5
6249.5
64999.5
1499.5
6249.5
499.5
12499.5
74999.5
2499.5
112499.5
499.5
1499.5
1499.5
1499.5
1499.5
44999.5
6249.5
499.5
1499.5
6249.5
8749.5
12499.5
17499.5
34999.5
499.5
499.5
499.5
499.5
12499.5
6249.5
4499.5
499.5
1499.5
22499.5
112499.5
499.5
1499.5
6249.5
44999.5
4499.5
8749.5
6249.5
12499.5
3499.5
74999.5
499.5
112499.5
1499.5
499.5
22499.5
4499.5
64999.5
3499.5
499.5
6249.5
499.5
499.5
8749.5
1499.5
12499.5
6249.5
64999.5
74999.5
2499.5
499.5
499.5
22499.5
74999.5
1499.5
8749.5
499.5
27499.5
17499.5
12499.5
1499.5
54999.5
499.5
2499.5
112499.5
12499.5
44999.5
54999.5
22499.5
3499.5
499.5
12499.5
499.5
112499.5
54999.5
12499.5
1499.5
1499.5
4499.5
2499.5
44999.5
4499.5
84999.5
499.5
44999.5
94999.5
499.5
34999.5
112499.5
499.5
3499.5
12499.5
112499.5
499.5
84999.5
8749.5
499.5
499.5
499.5
499.5
499.5
74999.5
499.5
44999.5
1499.5
12499.5
499.5
22499.5
499.5
8749.5
8749.5
6249.5
6249.5
4499.5
12499.5
27499.5
499.5
2499.5
112499.5
27499.5
6249.5
44999.5
499.5
499.5
12499.5
27499.5
137499.5
499.5
499.5
499.5
8749.5
274999.5
2499.5
94999.5
6249.5
22499.5
3499.5
2499.5
12499.5
27499.5
8749.5
2499.5
174999.5
499.5
54999.5
34999.5
499.5
499.5
1499.5
84999.5
2499.5
22499.5
12499.5
17499.5
1499.5
1499.5
12499.5
499.5
44999.5
499.5
34999.5
17499.5
17499.5
4499.5
44999.5
17499.5
64999.5
34999.5
8749.5
17499.5
499.5
499.5
2499.5
64999.5
3499.5
12499.5
12499.5
12499.5
74999.5
1499.5
64999.5
8749.5
8749.5
54999.5
4499.5
64999.5
6249.5
2499.5
499.5
499.5
3499.5
17499.5