In [72]:
import pandas as pd
import re
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import sidetable

In [73]:
pd.options.display.max_columns = None
# pd.options.display.max_rows = None

Cargamos el archivo limpio

In [74]:
# Abrir con index_col = 0
df = pd.read_csv("../data/6.dataframe_analisis.csv", index_col = 0)

# Se hace esto para resetear los índices
df.reset_index(drop=True , inplace=True)
df.head(2)

,q1_edad,q2_genero,q3_país,q4_educacion,q5_ocupacion,q6_exp_tech,q8_l_recomendado,q11_tipo_plataforma,q20_i_actual,q21_tamanio_cia,q22_da_cia,q25_salario,q26_ppto_ml_cc,q33_bigdata_product,q35_h_i_negocios,q41_h_process_data,q7_l_utilizados,q9_adi,q14_h_viz,q10_part_1,q10_part_2,q10_part_3,q10_part_4,q10_part_5,q10_part_6,q10_part_7,q10_part_8,q10_part_9,q10_part_10,q10_part_11,q10_part_12,q10_part_13,q10_part_14,q10_part_15,q10_part_16,q10_other,q18_part_1,q18_part_2,q18_part_3,q18_part_4,q18_part_5,q18_part_6,q18_other,q27_a_part_1,q27_a_part_2,q27_a_part_3,q27_a_part_4,q27_a_part_5,q27_a_part_6,q27_a_part_7,q27_a_part_8,q27_a_part_9,q27_a_part_10,q27_a_part_11,q27_a_other,q39_part_1,q39_part_2,q39_part_3,q39_part_4,q39_part_5,q39_part_6,q39_part_7,q39_part_8,q39_part_9,q39_other,q40_part_1,q40_part_2,q40_part_3,q40_part_4,q40_part_5,q40_part_6,q40_part_7,q40_part_8,q40_part_9,q40_part_10,q40_part_11,q40_other,q42_part_1,q42_part_2,q42_part_3,q42_part_4,q42_part_5,q42_part_6,q42_part_7,q42_part_8,q42_part_9,q42_part_10,q42_part_11,q42_other
0,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,Manufacturing/Fabrication,50-249 employees,3-4,"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...",NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
1,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Manufacturing/Fabrication,"1000-9,999 employees",1-2,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Matplotlib,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN

df.columns

# Valores duplicados

In [75]:
df.duplicated().sum()

8

# Eliminar los duplicados

In [76]:
df.drop_duplicates(inplace= True)

In [77]:
df.duplicated().sum()

0

# Cambios en tipos de columnas (astype)

In [85]:
# df.select_dtypes(include=np.number)
# No tenemos variables numéricas

In [90]:
df.select_dtypes(include="object").columns

Index(['q1_edad', 'q2_genero', 'q3_país', 'q4_educacion', 'q5_ocupacion',
       'q6_exp_tech', 'q8_l_recomendado', 'q11_tipo_plataforma',
       'q20_i_actual', 'q21_tamanio_cia', 'q22_da_cia', 'q25_salario',
       'q26_ppto_ml_cc', 'q33_bigdata_product', 'q35_h_i_negocios',
       'q41_h_process_data', 'q7_l_utilizados', 'q9_adi', 'q14_h_viz',
       'q10_part_1', 'q10_part_2', 'q10_part_3', 'q10_part_4', 'q10_part_5',
       'q10_part_6', 'q10_part_7', 'q10_part_8', 'q10_part_9', 'q10_part_10',
       'q10_part_11', 'q10_part_12', 'q10_part_13', 'q10_part_14',
       'q10_part_15', 'q10_part_16', 'q10_other', 'q18_part_1', 'q18_part_2',
       'q18_part_3', 'q18_part_4', 'q18_part_5', 'q18_part_6', 'q18_other',
       'q27_a_part_1', 'q27_a_part_2', 'q27_a_part_3', 'q27_a_part_4',
       'q27_a_part_5', 'q27_a_part_6', 'q27_a_part_7', 'q27_a_part_8',
       'q27_a_part_9', 'q27_a_part_10', 'q27_a_part_11', 'q27_a_other',
       'q39_part_1', 'q39_part_2', 'q39_part_3', 'q39_part_4', 'q39_part_5',
       'q39_part_6', 'q39_part_7', 'q39_part_8', 'q39_part_9', 'q39_other',
       'q40_part_1', 'q40_part_2', 'q40_part_3', 'q40_part_4', 'q40_part_5',
       'q40_part_6', 'q40_part_7', 'q40_part_8', 'q40_part_9', 'q40_part_10',
       'q40_part_11', 'q40_other', 'q42_part_1', 'q42_part_2', 'q42_part_3',
       'q42_part_4', 'q42_part_5', 'q42_part_6', 'q42_part_7', 'q42_part_8',
       'q42_part_9', 'q42_part_10', 'q42_part_11', 'q42_other'],
      dtype='object')

In [80]:
df.shape

(25965, 89)

# Ordenar columnas. `Pendiente`

In [81]:
df.head(2)

,q1_edad,q2_genero,q3_país,q4_educacion,q5_ocupacion,q6_exp_tech,q8_l_recomendado,q11_tipo_plataforma,q20_i_actual,q21_tamanio_cia,q22_da_cia,q25_salario,q26_ppto_ml_cc,q33_bigdata_product,q35_h_i_negocios,q41_h_process_data,q7_l_utilizados,q9_adi,q14_h_viz,q10_part_1,q10_part_2,q10_part_3,q10_part_4,q10_part_5,q10_part_6,q10_part_7,q10_part_8,q10_part_9,q10_part_10,q10_part_11,q10_part_12,q10_part_13,q10_part_14,q10_part_15,q10_part_16,q10_other,q18_part_1,q18_part_2,q18_part_3,q18_part_4,q18_part_5,q18_part_6,q18_other,q27_a_part_1,q27_a_part_2,q27_a_part_3,q27_a_part_4,q27_a_part_5,q27_a_part_6,q27_a_part_7,q27_a_part_8,q27_a_part_9,q27_a_part_10,q27_a_part_11,q27_a_other,q39_part_1,q39_part_2,q39_part_3,q39_part_4,q39_part_5,q39_part_6,q39_part_7,q39_part_8,q39_part_9,q39_other,q40_part_1,q40_part_2,q40_part_3,q40_part_4,q40_part_5,q40_part_6,q40_part_7,q40_part_8,q40_part_9,q40_part_10,q40_part_11,q40_other,q42_part_1,q42_part_2,q42_part_3,q42_part_4,q42_part_5,q42_part_6,q42_part_7,q42_part_8,q42_part_9,q42_part_10,q42_part_11,q42_other
0,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,Manufacturing/Fabrication,50-249 employees,3-4,"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...",NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
1,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Manufacturing/Fabrication,"1000-9,999 employees",1-2,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Matplotlib,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN

# Tratamiento de los outliers

No existen outliers

In [83]:
df_numericas = df.select_dtypes(include=np.number)

# Tratamiento de nulos

In [91]:
df.stb.missing()

                     missing  total    percent
q18_other              25846  25965  99.541691
q39_part_3             25829  25965  99.476218
q10_part_15            25818  25965  99.433853
q27_a_part_10          25793  25965  99.337570
q10_part_6             25790  25965  99.326016
q10_part_4             25756  25965  99.195070
q10_part_13            25714  25965  99.033314
q27_a_part_9           25706  25965  99.002503
q10_part_14            25705  25965  98.998652
q27_a_part_7           25690  25965  98.940882
q27_a_part_6           25675  25965  98.883112
q39_part_1             25672  25965  98.871558
q39_part_8             25660  25965  98.825342
q39_other              25659  25965  98.821490
q27_a_other            25628  25965  98.702099
q10_part_9             25617  25965  98.659734
q39_part_2             25578  25965  98.509532
q27_a_part_8           25575  25965  98.497978
q27_a_part_5           25511  25965  98.251492
q27_a_part_4           25393  25965  97.797034
q42_other              25382  25965  97.754670
q10_part_12            25375  25965  97.727710
q39_part_5             25260  25965  97.284806
q10_other              25228  25965  97.161564
q10_part_8             25212  25965  97.099942
q42_part_11            24958  25965  96.121702
q10_part_3             24903  25965  95.909879
q10_part_7             24898  25965  95.890622
q40_part_5             24808  25965  95.544002
q18_part_6             24526  25965  94.457924
q18_part_5             24473  25965  94.253803
q40_part_11            24203  25965  93.213942
q10_part_5             24195  25965  93.183131
q10_part_11            24171  25965  93.090699
q40_part_9             24161  25965  93.052186
q39_part_7             24117  25965  92.882727
q42_part_10            23970  25965  92.316580
q42_part_7             23943  25965  92.212594
q10_part_10            23914  25965  92.100905
q40_other              23884  25965  91.985365
q35_h_i_negocios       23728  25965  91.384556
q27_a_part_2           23515  25965  90.564221
q18_part_1             23303  25965  89.747737
q27_a_part_11          23276  25965  89.643751
q40_part_8             23272  25965  89.628346
q18_part_3             23249  25965  89.539765
q18_part_2             23225  25965  89.447333
q40_part_6             23162  25965  89.204699
q42_part_3             23026  25965  88.680917
q42_part_5             22970  25965  88.465242
q40_part_2             22937  25965  88.338148
q39_part_6             22900  25965  88.195648
q27_a_part_3           22823  25965  87.899095
q39_part_9             22798  25965  87.802811
q42_part_9             22615  25965  87.098017
q42_part_2             22524  25965  86.747545
q27_a_part_1           22244  25965  85.669170
q42_part_1             22218  25965  85.569035
q40_part_4             21969  25965  84.610052
q18_part_4             21592  25965  83.158097
q39_part_4             21379  25965  82.337762
q33_bigdata_product    21309  25965  82.068169
q40_part_10            21083  25965  81.197766
q40_part_7             19525  25965  75.197381
q10_part_16            18795  25965  72.385904
q42_part_8             17988  25965  69.277874
q40_part_3             17295  25965  66.608897
q10_part_1             16460  25965  63.393029
q40_part_1             16317  25965  62.842288
q10_part_2             16173  25965  62.287695
q42_part_6             15565  25965  59.946081
q42_part_4             14593  25965  56.202580
q26_ppto_ml_cc         10784  25965  41.532833
q25_salario            10576  25965  40.731754
q22_da_cia              9841  25965  37.901021
q21_tamanio_cia         9716  25965  37.419603
q20_i_actual            9642  25965  37.134604
q41_h_process_data      7477  25965  28.796457
q14_h_viz               2001  25965   7.706528
q11_tipo_plataforma     1251  25965   4.818024
q9_adi                  1038  25965   3.997689
q8_l_recomendado        1032  25965   3.974581
q7_l_utilizados         1031  25965   3.970730
q6_exp_tech                0  25965   0.000000
q5_ocupacion               0  25965   0.000000
q2_genero                  0  25965   0.000000
q4_educacion               0  25965   0.000000
q3_país                    0  25965   0.000000
q1_edad                    0  25965   0.000000

De la q1 a q6 no existen valores nulos

In [92]:
lista_q_18 = ['q18_part_1', 'q18_part_2', 'q18_part_3', 'q18_part_4', 'q18_part_5',
       'q18_part_6', 'q18_other']

In [93]:
df_q18 = df[lista_q_18]
df_q18.head(10)

,q18_part_1,q18_part_2,q18_part_3,q18_part_4,q18_part_5,q18_part_6,q18_other
0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"General purpose image/video tools (PIL, cv2, s...","Image segmentation methods (U-Net, Mask R-CNN,...","Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,"Image segmentation methods (U-Net, Mask R-CNN,...","Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,"Generative Networks (GAN, VAE, etc)",NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
df_q18.shape

(25965, 7)

In [95]:
# df_18_sin_nulos = df_q18.dropna(how=all )

In [96]:
df_q18.stb.missing()

            missing  total    percent
q18_other     25846  25965  99.541691
q18_part_6    24526  25965  94.457924
q18_part_5    24473  25965  94.253803
q18_part_1    23303  25965  89.747737
q18_part_3    23249  25965  89.539765
q18_part_2    23225  25965  89.447333
q18_part_4    21592  25965  83.158097

In [97]:
df["q5_ocupacion"].value_counts()

Student                         6798
Data Scientist                  3616
Software Engineer               2449
Other                           2392
Data Analyst                    2301
Currently not employed          1986
Research Scientist              1538
Machine Learning Engineer       1498
Business Analyst                 968
Program/Project Manager          849
Data Engineer                    668
Product Manager                  319
Statistician                     313
DBA/Database Engineer            171
Developer Relations/Advocacy      99
Name: q5_ocupacion, dtype: int64

DF para responder a preguntas 3, sobre herramientas

In [98]:
df_analistas = df[df["q5_ocupacion"]== "Data Analyst"]

In [99]:
df_analistas.stb.missing()

                     missing  total    percent
q18_other               2291   2301  99.565406
q10_part_4              2287   2301  99.391569
q10_part_6              2286   2301  99.348110
q10_part_13             2281   2301  99.130813
q10_part_14             2280   2301  99.087353
q39_part_3              2278   2301  99.000435
q10_part_15             2276   2301  98.913516
q27_a_part_10           2267   2301  98.522382
q10_part_9              2267   2301  98.522382
q39_part_1              2266   2301  98.478922
q27_a_other             2261   2301  98.261625
q27_a_part_9            2257   2301  98.087788
q27_a_part_7            2253   2301  97.913950
q39_other               2253   2301  97.913950
q39_part_2              2252   2301  97.870491
q39_part_8              2251   2301  97.827032
q10_part_8              2250   2301  97.783572
q27_a_part_6            2246   2301  97.609735
q42_other               2244   2301  97.522816
q40_part_5              2241   2301  97.392438
q27_a_part_8            2241   2301  97.392438
q10_part_12             2231   2301  96.957844
q27_a_part_5            2229   2301  96.870926
q18_part_5              2226   2301  96.740548
q27_a_part_4            2221   2301  96.523251
q39_part_5              2208   2301  95.958279
q10_other               2206   2301  95.871360
q10_part_7              2204   2301  95.784442
q18_part_3              2202   2301  95.697523
q18_part_1              2198   2301  95.523685
q10_part_3              2191   2301  95.219470
q18_part_6              2190   2301  95.176010
q18_part_2              2181   2301  94.784876
q42_part_11             2181   2301  94.784876
q40_part_11             2162   2301  93.959148
q40_part_9              2152   2301  93.524555
q10_part_10             2132   2301  92.655367
q18_part_4              2129   2301  92.524989
q10_part_5              2124   2301  92.307692
q42_part_7              2121   2301  92.177314
q42_part_9              2117   2301  92.003477
q10_part_11             2114   2301  91.873099
q42_part_10             2110   2301  91.699261
q39_part_7              2104   2301  91.438505
q40_other               2075   2301  90.178183
q42_part_5              2034   2301  88.396349
q40_part_6              2032   2301  88.309431
q42_part_3              2030   2301  88.222512
q27_a_part_2            2006   2301  87.179487
q42_part_2              1998   2301  86.831812
q40_part_2              1993   2301  86.614515
q42_part_1              1992   2301  86.571056
q27_a_part_3            1937   2301  84.180791
q40_part_8              1934   2301  84.050413
q40_part_10             1930   2301  83.876575
q27_a_part_1            1917   2301  83.311604
q27_a_part_11           1895   2301  82.355498
q39_part_9              1884   2301  81.877445
q39_part_6              1863   2301  80.964798
q35_h_i_negocios        1858   2301  80.747501
q40_part_4              1758   2301  76.401565
q39_part_4              1739   2301  75.575837
q33_bigdata_product     1694   2301  73.620165
q10_part_16             1643   2301  71.403738
q10_part_2              1639   2301  71.229900
q42_part_8              1617   2301  70.273794
q40_part_7              1587   2301  68.970013
q10_part_1              1508   2301  65.536723
q40_part_3              1483   2301  64.450239
q40_part_1              1409   2301  61.234246
q42_part_6              1332   2301  57.887875
q42_part_4              1252   2301  54.411126
q41_h_process_data       533   2301  23.163842
q26_ppto_ml_cc           292   2301  12.690135
q25_salario              262   2301  11.386354
q14_h_viz                193   2301   8.387658
q11_tipo_plataforma      153   2301   6.649283
q22_da_cia               150   2301   6.518905
q9_adi                   146   2301   6.345067
q8_l_recomendado         144   2301   6.258149
q7_l_utilizados          143   2301   6.214689
q21_tamanio_cia          130   2301   5.649718
q20_i_actual             114   2301   4.954368
q2_genero                  0   2301   0.000000
q6_exp_tech                0   2301   0.000000
q5_ocupacion               0   2301   0.000000
q4_educacion               0   2301   0.000000
q3_país                    0   2301   0.000000
q1_edad                    0   2301   0.000000

In [100]:
df_analistas.shape

(2301, 89)

In [101]:
lista_eliminar = ['q18_part_1', 'q18_part_2', 'q18_part_3', 'q18_part_4', 'q18_part_5',
       'q18_part_6', 'q18_other',
       
       'q10_part_1', 'q10_part_2', 'q10_part_3', 'q10_part_4', 'q10_part_5',
       'q10_part_6', 'q10_part_7', 'q10_part_8', 'q10_part_9', 'q10_part_10',
       'q10_part_11', 'q10_part_12', 'q10_part_13', 'q10_part_14',
       'q10_part_15', 'q10_part_16', 'q10_other', 
       
       'q39_part_1', 'q39_part_2', 'q39_part_3', 'q39_part_4', 'q39_part_5',
       'q39_part_6', 'q39_part_7', 'q39_part_8', 'q39_part_9', 'q39_other', 
       
       'q27_a_part_1', 'q27_a_part_2', 'q27_a_part_3', 'q27_a_part_4',
       'q27_a_part_5', 'q27_a_part_6', 'q27_a_part_7', 'q27_a_part_8',
       'q27_a_part_9', 'q27_a_part_10', 'q27_a_part_11', 'q27_a_other',


       'q40_part_1', 'q40_part_2', 'q40_part_3', 'q40_part_4', 'q40_part_5',
       'q40_part_6', 'q40_part_7', 'q40_part_8', 'q40_part_9', 'q40_part_10',
       'q40_part_11', 'q40_other']

In [102]:
df_analistas = df_analistas.drop(['q18_part_1', 'q18_part_2', 'q18_part_3', 'q18_part_4', 'q18_part_5',
       'q18_part_6', 'q18_other',
       
       'q10_part_1', 'q10_part_2', 'q10_part_3', 'q10_part_4', 'q10_part_5',
       'q10_part_6', 'q10_part_7', 'q10_part_8', 'q10_part_9', 'q10_part_10',
       'q10_part_11', 'q10_part_12', 'q10_part_13', 'q10_part_14',
       'q10_part_15', 'q10_part_16', 'q10_other', 
       
       'q39_part_1', 'q39_part_2', 'q39_part_3', 'q39_part_4', 'q39_part_5',
       'q39_part_6', 'q39_part_7', 'q39_part_8', 'q39_part_9', 'q39_other', 
       
       'q27_a_part_1', 'q27_a_part_2', 'q27_a_part_3', 'q27_a_part_4',
       'q27_a_part_5', 'q27_a_part_6', 'q27_a_part_7', 'q27_a_part_8',
       'q27_a_part_9', 'q27_a_part_10', 'q27_a_part_11', 'q27_a_other',


       'q40_part_1', 'q40_part_2', 'q40_part_3', 'q40_part_4', 'q40_part_5',
       'q40_part_6', 'q40_part_7', 'q40_part_8', 'q40_part_9', 'q40_part_10',
       'q40_part_11', 'q40_other'], axis=1)

In [103]:
df_analistas.shape

(2301, 31)